body{
	font-size: 16px; /*1em*/
	margin: 0px auto;
    max-width: 1078px;
	min-height: 1078px;

	}
	header{
		background: #3a3a3a;
	}

#sitepoint{
	display:inline-block;
	vertical-align: top;
	margin:10px;
	margin-right:190px;
	margin-left: 30px;
	}
.imagen{

	margin-top: 10px;
	margin-left: 10px;


}	
.texto{
	display: inline-block;
	margin-top: 15px;
	margin-right: 10px;
	color: white;
	font-size: 0.8em;
}
#botonlogin{
	background: #3a3a3a;
	color: white;
	font-weight: bold;
	font-size: 1em;
	border-radius: 2px;
}
#botonlogout{
	background: #3ec9cb;
	color: white;
	font-weight: bold;
	font-size: 1em;
}
#sec1{
	display: inline-block;
	width: 100%;
	background: #e62c85
}
section #sec1art1{
	margin-left: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	color:white;
	font-size: 1.7em;
	font-weight: bold;
	display: inline-block;
}
section #sec1art2{
	margin-top: 15px;
	margin-left: 40px;
	display: inline-block;
}
#sec1art3{
	margin-bottom: 25px;
	margin-left: 80px;
	display: inline-block
}
#sec1art3 input{
	background: white;
	color: #e7308a;
	width: 250px;
	height: 35px;
	font-weight: bold;
	font-size: 1.4;
	border-radius: 2px;
}

#sec2{
	position: relative;
	display: inline-block;
	width: 1078px;
	height: 400px;
	background: #262626


}
#sec2art1{
	width: 50%;
    margin-left: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	color:white;
	display: inline-block;
}
.span1{
color: white;
margin-left: 30px;
font-size: 2.4em;
font-weight: bold;
display: inline-block;
}
.span2{
color: white;
margin-left: 30px;
font-size: 2.6em;
font-weight: bold;
display: inline-block;
}
.span3{
color: white;
margin-left: 30px;
font-size: 1.8em;
display: inline-block;
}
.span4{
color: white;
margin-left: 30px;
font-size: 1.8em;
display: inline-block;
}
.span5{
color: white;
margin-left: 10px;
font-size: 1.8em;
font-weight: bold;
display: inline-block;
}
.span6{
color: white;
margin-left: 30px;
font-size: 1.8em;
font-weight: bold;
display: inline-block;
}
#libros{
position: absolute;
top: 25px;
width: 40%;
}
#sec2art1 input{
	position: absolute;
	background: #3ec9cb;
	color: white;
	left: 40px;
	width: 250px;
	height: 50px;
	font-weight: bold;
	font-size: 1.4;
	border-radius: 2px;	
}
footer{
padding-top: 20px;
height: 100px;
width: 100%;
background: #ef8d25
}		
	

#spn1 {
	top: 25px;
    color: white;
    margin-left: 20px;
    font-size: 0.8em;
    font-weight: bold;
    display: inline-block;
}
#mayor1{
	top: 25px;
    color: #e6d5c5;
    margin-left: 20px;
    font-size: 0.6em;
    display: inline-block;
}
#spn2 {
	top: 25px;
    color: #e6d5c5;
    margin-left: 20px;
    font-size: 0.6em;
    display: inline-block;
}
#mayor2{
	top: 25px;
    color: #e6d5c5;
    margin-left: 20px;
    font-size: 0.6em;
    display: inline-block;
}
#spn3 {
	top: 25px;
    color: #e6d5c5;
    margin-left: 20px;
    font-size: 0.6em;
    display: inline-block;
}
#spn4 {
    color: white;
    margin-left: 20px;
    font-size: 2.5em;
    font-weight: bold;
    display: inline-block;
}
