article{
    border-radius: 5px;
    height: 50px;
    margin-top: 10px;
    width: 150px;
    text-align: center;
}
#uno{
    background: red; /*si no soporta gradientes*/
    /*opera*/
    background: -o-linear-gradient(rgba(255,0,0,1),rgba(255,255,0,1),blue);
   /*mozilla*/
    background: -moz-linear-gradient(rgba(255,0,0,1),rgba(255,255,0,1),blue);
   /*microsoft edge*/
    background: -ms-linear-gradient(rgba(255,0,0,1),rgba(255,255,0,1),blue);
   /*safari*/
    background: -webkit-linear-gradient(rgba(255,0,0,1),rgba(255,255,0,1),blue);   
   /*todos*/
    background: linear-gradient(rgba(255,0,0,1),rgba(255,255,0,1),blue);
}
#dos{
    background: red; /*si no soporta gradientes*/
    /*opera*/
    background: -o-linear-gradient(to left,red,yellow,blue);
   /*mozilla*/
    background: -moz-linear-gradient(to left,red,yellow,blue);
   /*microsoft edge*/
    background: -ms-linear-gradient(to left,red,yellow,blue);
   /*safari*/
    background: -webkit-linear-gradient(to left,red,yellow,blue);   
   /*todos*/
    background: linear-gradient(to left,red,yellow,blue);
}
#tres{
    background: red; /*si no soporta gradientes*/
    /*opera*/
    background: -o-linear-gradient(to right,red,yellow,blue);
   /*mozilla*/
    background: -moz-linear-gradient(to right,red,yellow,blue);
   /*microsoft edge*/
    background: -ms-linear-gradient(to right,red,yellow,blue);
   /*safari*/
    background: -webkit-linear-gradient(to right,red,yellow,blue);   
   /*todos*/
    background: linear-gradient(to right,red,yellow,blue);
}
#tres{
    background: red; /*si no soporta gradientes*/
    /*opera*/
    background: -o-linear-gradient(to right,red,yellow,blue);
   /*mozilla*/
    background: -moz-linear-gradient(to right,red,yellow,blue);
   /*microsoft edge*/
    background: -ms-linear-gradient(to right,red,yellow,blue);
   /*safari*/
    background: -webkit-linear-gradient(to right,red,yellow,blue);   
   /*todos*/
    background: linear-gradient(to right,red,yellow,blue);
}
#cuatro{
    background: red; /*si no soporta gradientes*/
    /*opera*/
    background: -o-linear-gradient(to right bottom,red,yellow,blue);
   /*mozilla*/
    background: -moz-linear-gradient(to right bottom,red,yellow,blue);
   /*microsoft edge*/
    background: -ms-linear-gradient(to right bottom,red,yellow,blue);
   /*safari*/
    background: -webkit-linear-gradient(to right bottom,red,yellow,blue);   
   /*todos*/
    background: linear-gradient(to right bottom,red,yellow,blue);
}
#cinco{
    background: red; /*si no soporta gradientes*/
    /*opera*/
    background: -o-linear-gradient(to left bottom,red,yellow,blue);
   /*mozilla*/
    background: -moz-linear-gradient(to left bottom,red,yellow,blue);
   /*microsoft edge*/
    background: -ms-linear-gradient(to left bottom,red,yellow,blue);
   /*safari*/
    background: -webkit-linear-gradient(to left bottom,red,yellow,blue);   
   /*todos*/
    background: linear-gradient(to left bottom,red,yellow,blue);
}
#seis{
    background: red; /*si no soporta gradientes*/
    /*opera*/
    background: -o-linear-gradient(70deg ,red,yellow,blue);
   /*mozilla*/
    background: -moz-linear-gradient(70deg,red,yellow,blue);
   /*microsoft edge*/
    background: -ms-linear-gradient(70deg,red,yellow,blue);
   /*safari*/
    background: -webkit-linear-gradient(70deg,red,yellow,blue);   
   /*todos*/
    background: linear-gradient(70deg,red,yellow,blue);
}
#siete{
    background: red; /*si no soporta gradientes*/
    /*opera*/
    background: -o-repeating-linear-gradient(180deg,black,white,black 3%);
   /*mozilla*/
    background: -moz-repeating-linear-gradient(180deg,black,white,black 3%);
   /*microsoft edge*/
    background: -ms-repeating-linear-gradient(180deg,black,white,black 3%);
   /*safari*/
    background: -webkit-repeating-linear-gradient(180deg,black,white,black 3%);   
   /*todos*/
    background: repeating-linear-gradient(180deg,black,white,black 3%);
}
.texto{
    position: relative;
    top: 15px;

}
